@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Poppins";
}
:root {
  font-size: 11.8px;
  color: #d5d5d5;
}
a {
  color: #d5d5d5;
}
body {
  background-color: #141414;
}
section,footer{padding: 60px 0;}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}
header .container {
  padding-block: 10px;
  border-bottom: 1px solid #383838;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mail_part {
  display: flex;
  gap: 15px;
  align-items: center;
}
.mail_icon svg {
  width: 45px;
  border: 1px solid #383838;
  padding: 12px;
  border-radius: 50%;
}
.social_part ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* header end */
/* banner */
.banner{
  background:url("../public/img/banner_background.png")center/cover;
  backdrop-filter: opacity(.1);
  overflow: hidden;

}
.banner_inner {
  text-align: center;
}
.banner_img{
  background-color: gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
.banner_inner p {
  letter-spacing: .3px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.banner_inner h1{
  position: relative;
  font-weight: 500;
  background: linear-gradient(to left ,rgba(0,0,0,.4),#d5d5d5);
  background-clip: text;
  color: transparent;
}
.banner_inner a{
  background-color: #d5d5d5;
  padding: 8px 20px;
  border-radius: 10px;
  color: #141414;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}
.all_banner{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.05rem #d5d5d5);
}
/* banner end */
/* about */
.about_inner{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1,1fr);

}
.about_content p{line-height: 2.2;font-size: 14px;margin-bottom: 10px;
a{text-decoration: underline;}}
.about_img{text-align: center;}
.about_img img{mix-blend-mode: difference;width: 80%;}
/* about end */
/* Projects */
 h3{font-size: 28px;border-bottom: 1px solid #d5d5d5;margin-bottom: 30px;display: inline-block;}
.project_inner{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:40px 20px;
}
.project_inner h4{font-size: 16px;margin-top: 10px;position: absolute;background-color: #141414;border-radius: 20px;padding: 8px 20px;bottom: 20px;left: 20px;}
.project_img{height: 300px;overflow: hidden;border-radius: 20px;}
.project_card{position: relative;}
.project_card img{width: 100%;transition: 5s linear;filter: brightness(78%);}
.project_card:hover img{transform: translateY(calc(-100% + 300px));}
/* Projects end */
/* footer */
footer{
}
.footer_inner{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:20px;
  align-items:center;
  justify-content: space-between;
}
.footer_inner p{font-size: 14px;line-height: 1.7;margin-bottom: 20px;}
.footer_right ul{
  display: flex;
  gap: 8px;

}
.footer_right ul a{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
  color: #141414;
  font-size: 20px;
}
.footer_left{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(1,1fr);
}
.contact_card{
  border-radius: 20px 0 20px 0;
  position: relative;
  background-color: #d5d5d5;
  color: #141414;
  a{color: #141414;}
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.contact_card .contact_icon{
  font-size: 30px;
}
.contact_card a{font-size: 13px;}
.contact_card::after{
  position: absolute;
  content: " ";
  top: 10px;
  left: 10px;
  z-index: -1;
  background-color: #454545;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 20px 0;
  overflow: hidden;
}
/* footer end */
@media (min-width: 576px) {
  .footer_left{
    grid-template-columns:repeat(2,1fr);
  }
  .container {
    width: 540px;
  }
  .project_inner{
    grid-template-columns: repeat(2,1fr);
  }
  header .container {
    justify-content: space-between;
  }
  .about_inner{
    grid-template-columns: repeat(2,1fr);
  }
  .about_img{text-align: right;}
}
@media (min-width: 768px) {
  .footer_inner{
    grid-template-columns: repeat(2,1fr);
  }
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .banner_inner h1 {
    font-size: 3.3vw;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
